.littleGallery {
    position: fixed;
    background: #2e2e2e;
    min-width: 900px;
    min-height: 700px;
    box-shadow: 0 0 9px 2px #333;
    border-radius: 3px;
    border: 1px solid #333;
    z-index: 5;
    display: none;
}

.littleGallery .littleGallery-head {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #000;
}

.littleGallery .littleGallery-head .littleGallery-img {
    margin: 0 10px;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
}

.littleGallery .littleGallery-head .littleGallery-img:hover {
    background: #444;
}

.littleGallery .littleGallery-head .littleGallery-img-activ {
    background: #444;
}

.littleGallery .littleGallery-body {
    display: table;
    width: 100%;
    border-top: 1px solid #555;
}

.littleGallery .littleGallery-body .littleGallery-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.littleGallery .littleGallery-body .littleGallery-img {
    vertical-align: middle;
}

.littleGallery .littleGallery-img-close {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 29px;
    right: -12px;
    top: -12px;
    cursor: pointer;
}

.littleGallery-blind {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.3;
    background: #f5f5f5;
    display: none;
}
